.NavBarItem {
    padding: 0px 10px 0px 10px;
    border: groove 2px red;
    border-radius: 20px;
    margin: 5px 0px 0px 0px;
    background-color: gold;
    display: block;
}

a.NavBarRef {
    display: block;
    text-decoration: none;
    color: black;
    margin: 0px 5px 0px 0px;
}
